Overview of Stack Exchange User Reputation Prediction Dataset

First, read both `.txt` files into `pd.DataFrame`.

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
train_data_file = "../data/Reputation_prediction_data_train.txt"
train_label_file = "../data/Reputation_prediction_labels_train.txt"

In [6]:
train_data = pd.read_csv(train_data_file, sep="\t", header=None)
train_data.columns = ["textual_description", "user_id", "content_type", "timestamp"]

train_label = pd.read_csv(train_label_file, sep="\t", header=None)
train_label.columns = ["user_id", "user_reputation"]

In [7]:
train_data.head(5)

,textual_description,user_id,content_type,timestamp
0,main tenet belief emerg church emerg word thro...,1,Q,0.01
1,judaism celebr sabbath saturday christian cele...,1,Q,0.01
2,theolog differ greek orthodox church coptic eg...,1,Q,0.01
3,john chapter appar contradict author john begi...,1,Q,0.01
4,shadrach abednego understood fourth person fir...,1,Q,0.01

what is the number of each group (each content type)

In [11]:
train_data["content_type"].value_counts()

C    48981
E    19754
A    15748
Q     6453
F     4867
Name: content_type, dtype: int64

In [15]:
train_data["textual_description"][1]

'judaism celebr sabbath saturday christian celebr sabbath sunday christian possibl exclud seventh day adventist jew start celebr sabbath differ day week'

In [16]:
train_data["timestamp"].value_counts()

0.01    5850
0.02    1690
0.50    1557
0.32    1444
0.33    1376
0.26    1348
0.41    1342
0.27    1340
0.99    1324
0.28    1272
0.60    1231
0.31    1229
0.94    1229
0.40    1223
0.10    1217
0.49    1199
0.42    1188
0.08    1164
0.34    1148
0.17    1130
0.69    1110
0.51    1108
0.19    1095
0.47    1090
0.68    1079
0.11    1070
0.58    1062
0.16    1060
0.38    1058
0.12    1037
        ...
0.75     753
0.86     741
0.20     733
0.79     725
0.96     723
0.14     705
0.76     703
0.13     701
0.05     687
0.30     683
0.77     681
0.83     675
0.88     673
0.06     668
0.87     663
0.66     648
0.91     647
0.80     645
0.81     639
0.97     634
0.98     629
0.65     599
0.82     553
0.84     549
0.85     542
0.92     541
0.78     520
0.04     511
0.90     510
0.64     472
Name: timestamp, Length: 99, dtype: int64

In [8]:
train_label.head(5)

   user_id  user_reputation
0        1                1
1        2                1
2        3                1
3        5                1
4        6                1

In [12]:
train_label["user_reputation"].value_counts()

3    901
1    819
2    780
Name: user_reputation, dtype: int64